.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
}
.checkouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
}
.checkout_content {
    height: 200px;
    overflow-y: auto;
}